.DarkTheme {
  background-color: var(--basic-color);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 !important;
}

.DarkTheme.activated img {
  filter: grayscale(100%);
}

/****  All colored tags for DarkMode - darkmode  ****/
/*!! body-bgc and c, nav ul-bgc, footer-bgc  */
.DarkThemeBasic {
  background-color: var(--basic-dark-color) !important;
}
.DarkThemeForBody {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}
.DarkThemeBg2 {
  background-color: var(--basic-dark-color) !important;
}
.DarkBgGallery {
  background-color: var(--dark-color) !important;
}
