@media (max-width: 600px) {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.25rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 0.75rem !important ;
  }
  h6 {
    font-size: 0.5rem !important;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem !important;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0.5rem !important;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 2.875rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1.25rem !important;
  }
  h5 {
    font-size: 1.125rem !important;
  }
  h6 {
    font-size: 1rem !important;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.75rem !important;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0.75rem !important;
  }
  /*! Navigation links font size*/
}
@media (max-width: 1440px) {
  nav ul li {
    margin-left: 2.5rem !important;
  }
  #moon {
    margin-left: 1rem !important;
  }
  #sun {
    margin-left: 2.5rem !important;
  }
}
@media (max-width: 1200px) {
  nav ul li a {
    font-size: 0.75rem !important;
  }
  nav ul li {
    padding-top: 0.3rem !important;
  }
  nav ul li {
    margin-left: 2rem !important;
  }
}
@media (max-width: 859px) {
  #moon {
    margin-left: 0.5rem !important;
  }
  #sun {
    margin-left: 1rem !important;
  }
}

/* already added in basic.css
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}
*/
