/*?? Main Css*/
/*!! flex */
.center {
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.flex {
  display: flex !important;
  justify-content: center !important;
}

.nav_resize {
  display: flex !important;
  justify-content: space-between;
}

/* container */
.row {
  width: 85%;
  margin: 0 auto;
}
/*!! Backgrounds*/
.bg1 {
  background-image: url(../resized_top_images/Backgrounds/fotka10.jpg);
 background-repeat:no-repeat;
background-size:contain;
background-position:center;
}
.bg2 {
  background-image: url(../resized_top_images/Backgrounds/Respons.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg3 {
  background-image: url(../resized_top_images/Backgrounds/fotka1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg4 {
  background-image: url(../resized_top_images/Backgrounds/fotka8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg5 {
  background-image: url(../resized_top_images/Backgrounds/respons2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg6 {
  background-image: url(../resized_top_images/Backgrounds/Respons.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg7 {
  background-image: url(../resized_top_images/Backgrounds/fotka7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg8 {
  background-image: url(../resized_top_images/Backgrounds/fotka2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*?? Background*/
.main_bg {
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: inline-block;
  z-index: 2;
}

/*??pozadí 1*/
.background1 {
  width: 100%;
  height: 46px;
  background-color: var(--basic-color);
  position: fixed;
  display: none;
}

/*?? pozadí 2 ***/

.background2 {
  width: 100%;
  height: 300px;
  background-color: var(--basic-color);
  z-index: 250;
  position: fixed;
  opacity: 85%;
  display: none;
}

/*!! Nav */

nav div {
  width: 100%;
  height: 47.5px;
  position: fixed;
  margin: 0px auto;
  z-index: 250;
  background-color: var(--basic-color);
  display: flex;
  left: 0;
  top: 0;
}

/*!! Logo in nav bar*/
.logo img {
  height: 47.5px;
  overflow: hidden;
}

nav div ul li {
  margin-left: 5rem;
  margin-top: 0.5rem;
}
.active {
  border-bottom: 1px solid var(--hovered-color) !important;
}

nav div ul li a {
  color: var(--light-color);
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

nav div ul li a:link,
nav div ul li a:visited {
  color: var(--light-color);

  text-decoration: none;
  border-bottom: 1px solid transparent;
}

nav div ul li a:hover {
  color: var(--yellow-color);
}

/*?? Main title*/
.MainTitle {
  color: var(--light-color);
  z-index: 2;
  margin-top: 7rem;
  height: 5rem !important;
}
.btn1 {
  font-size: 1.75rem;
  font-family: "Work Sans", sans-serif;
  margin-top: 2rem;
  color: var(--light-color);
  height: 2rem !important;
  text-align: center;
  display: inline !important;
  text-decoration: none !important;
}
.btn1:nth-child(2) {
  margin-left: 6rem;
}
/*! not bold strong tag !*/
.not_bold {
  font-weight: 500;
}
/*!! Marked text */
.MarkedText {
  font-size: 1.2rem;
}
/*!! Space */
.spc {
  margin-bottom: 15rem !important;
}

/*!! Title */
.title {
  font-family: "Work Sans", sans-serif;
  margin-top: 5rem;
  font-weight: 600;
  color: var(--basic-color);
}
.p {
  width: 40%;
  font-family: "Work Sans", sans-serif;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*!! homework */
.p_hm {
  margin-top: 2rem;
  margin-bottom: 15rem;
  width: 75%;
}
/*!! Result img section*/
.ResultImg {
  margin-bottom: 15rem;
  margin-top: 2.5rem;
}
/*!! links div space*/
.links_div {
  margin-bottom: 15rem;
}
.title_link {
  text-align: center;
}
/*!! Link title h1*/
.L_title {
  margin-bottom: 3rem;
}
.title_link {
  margin-top: 2rem;
}
.label_1 {
  margin-top: 2rem !important;
}
.link {
  margin-top: 1rem;
}
.label_2 {
  margin-top: 1rem !important;
}
.flink {
  font-size: 1.75rem;
}

/*!! Photo galerie*/
.ph_p {
  margin-bottom: 6rem;
}

/*!! footer  */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  height: 2rem;
  padding-top: 8px !important;
  font-weight: 500;
  font-family: "Work Sans", sans-serif !important;
}

/*??? Hamburger icon */
.menu_icon {
  padding-top: 5px;
  margin-right: 2rem;
  display: none;
  cursor: pointer;
}
/*!! Responsive bg */
.bg_responsive {
  display: none;
  position: fixed;
  top: 2.95rem;
  height: 15rem;
  width: 100%;
  background-color: var(--basic-color);
}
.res_ul li a {
  color: var(--light-color);
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  display: block;
  text-align: left;
  margin-left: 2.9rem;
}

.res_ul li a:link,
.res_ul li a:visited {
  color: var(--light-color);

  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.res_ul li a:hover {
  color: var(--yellow-color);
}

.res_foot {
  font-size: 0.95rem;
  color: var(--light-color);
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  margin-top: 1.25rem !important;
  text-align: center;
}

.res_active {
  font-weight: 900;
  color: var(--danger-color);
}
.FlexPhoto {
  display: flex;
  justify-content: center;
}
.btn2 {
  font-size: 1.75rem;
  font-family: "Work Sans", sans-serif;
  margin-top: 2rem;
  color: var(--light-color);
  height: 2rem !important;
  text-align: center;
  display: block;
  text-decoration: none !important;
}

.photo_foot {
  margin-top: 1.75rem !important;
}

.bg_responsive_photo {
  height: 12rem !important;
}
